/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* CS 4540, Spring 2015
 * Written by Paul Hanson and Jason Steck */
 
footer {
    width:100%;
    height:auto !important;
    position:fixed;
    bottom:0em;
    left:0;
    text-align: center;
    font-size: smaller; 
    margin-bottom: 1em;
}

.todo {
	color: blue;
	font-weight: bold;
}

.done {
	color: #AAAAAA;
	font-weight: normal;
}

.center {
    text-align: center;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.table > tbody > tr > th {
	border: none;
}

.table th:first-of-type,
.table tr td:first-of-type {
	border-top: none;
}

#warningBox {
	margin-top: 7px;
	width: 360px;
}

.rc-handle:hover {
	background-color: #dddddd;
	border: 1px solid #dddddd !important;	
}
